p {
    font-size: 1.6rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
  }
  
  h2 {
    font-size: 3.5rem;
    color: #1f3f5b;
    font-family: "Overpass", sans-serif;
    font-weight: 600;
  }
  
  h3 {
    font-size: 2.8rem;
    color: #1f3f5b;
    font-family: "Overpass", sans-serif;
    font-weight: 600;
  }
  


.middle-curve{
    background: url(../images/bg-pattern-circles.svg) center no-repeat, hsl(237, 23%, 32%);
    height: 300px;
    margin-bottom: 30px;
    border-radius: 0px 70px 0px 70px;
    -webkit-border-radius: 0px 70px 0px 70px;
    -moz-border-radius: 0px 70px 0px 70px;
    -ms-border-radius: 0px 70px 0px 70px;
    -o-border-radius: 0px 70px 0px 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mc{
    display: flex;
    flex-direction: row;
    color: #000;
    align-items: center;
}
.mcleft{
    margin-left: 90px;
}
.mcright{
    width: 500px;
    margin-left: 90px;
    color: #fff;
}

.rsm{
    color: #fff;
    padding-bottom: 10px;
}

.imgl{
    width: 250px;
}
.img-right{
    width: 600px;
}

.dsm1{
    margin-bottom: 10px;
}
.design2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dleft{
    width: 800px;
    margin-left: -230px;
}
.dright{
    margin-left: 120px;
    width: 500px;
}
.dright1 .dright2{
    color: #000;
}

.phones{
    width: 40%;
    margin-left: 50px;
}

@media screen and (max-width: 900px) {
    .mc{
        display: flex;
        flex-direction: column;
        color: #000;
        align-items: center;
    }
    .design2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .design2 img {
        visibility: visible;
        display: block;
        width: 100%;
      }
    .dleft{
        width: 400px;
        margin: 0 auto;
    }
    .phones{
        width:80%;
        margin-left: 50px;
        margin-top: -200px;
    }
    .mc{
        visibility: visible;
        display: block;
        width: 100%;
      }
    .mcright{
        width: 70%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }
    .rsm2{
        word-spacing: 10px;
    }
    .dright{
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 40px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .middle-curve{
        height: 470px;
    }
    
    .dsm2{
        font-size: 1.6rem;
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
    }
}