* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  h1 {
    font-size: 4.8rem;
  }
  
  li,
  button,
  label,
  input,
  textarea,
  a,
  p {
    font-size: 1.6rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
  }
  
  h2 {
    font-size: 3.5rem;
    color: #1f3f5b;
    font-family: "Overpass", sans-serif;
    font-weight: 600;
  }
  
  h3 {
    font-size: 2.8rem;
    color: #1f3f5b;
    font-family: "Overpass", sans-serif;
    font-weight: 600;
  }
  
  h4,
  h5 {
    font-size: 2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  .intro {
    min-height: 60vh;
    background-image: url("../images/bg-pattern-intro.svg"), -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
    background-image: url("../images/bg-pattern-intro.svg"), linear-gradient(to right, #ff8f70, #ff3d54);
    background-size: 140%;
    background-position: left center;
    border-bottom-left-radius: 100px 60px;
  }
  
  nav {
    width: 85%;
    margin: 0 auto;
    min-height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  nav .logo-nav {
    padding: 3rem 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30rem;
            flex: 1 1 30rem;
  }
  
  nav .logo-nav .mobil-container {
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  nav .logo-nav .mobil-container .company-logo {
    padding-right: 6rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 15rem;
            flex: 1 1 15rem;
  }
  
  nav .logo-nav .mobil-container .burger {
    display: none;
    cursor: pointer;
  }
  
  nav .logo-nav hr {
    display: none;
  }
  
  nav .logo-nav #mobil-login {
    display: none;
  }
  
  nav .logo-nav .mobilUl-container {
    width: 100%;
  }
  
  nav .logo-nav .main-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 4;
        -ms-flex: 4 1 15rem;
            flex: 4 1 15rem;
  }
  
  nav .logo-nav .main-ul .main-li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 15rem;
            flex: 1 1 15rem;
    position: relative;
  }
  
  nav .logo-nav .main-ul .main-li:hover {
    text-decoration: underline;
  }
  
  nav .logo-nav .main-ul .main-li img {
    padding-left: 1rem;
    pointer-events: none;
    cursor: default;
  }
  
  nav .logo-nav .main-ul .main-li .active {
    padding-right: 1rem;
    padding-left: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  
  nav .logo-nav .main-ul .dropUL-inactive {
    display: none;
  }
  
  nav .logo-nav .main-ul .dropUl {
    display: block;
    position: relative;
    left: 0px;
    background: #ebebeb;
    margin-top: 2rem;
    border-radius: 8px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  nav .logo-nav .main-ul .dropUl li {
    margin: 1rem 3rem 1rem 3rem;
    padding: 1rem 0rem;
  }
  
  nav .logo-nav .main-ul .dropUl li a:hover {
    text-decoration: none;
  }
  
  nav .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 2;
        -ms-flex: 2 1 20rem;
            flex: 2 1 20rem;
  }
  
  nav .login button {
    border: none;
    background: none;
    min-width: 120px;
    padding: 1rem 2rem;
    margin: 0 1rem;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
  }
  
  nav .login button:hover {
    background: #ff7a85;
    color: white;
    border: solid thin #ff7a85;
  }
  
  nav .login .active {
    background: white;
    color: #ff525d;
  }
  
  .intro-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    min-height: 50vh;
    padding-bottom: 10rem;
  }
  
  .intro-text h1 {
    font-size: 4.8rem;
    font-family: "Overpass", sans-serif;
    font-weight: 300;
  }
  
  .intro-text p {
    padding: 1rem;
  }
  
  .intro-text .intro-links {
    margin-top: 3rem;
  }
  
  .intro-text .intro-links button {
    border: solid thin white;
    background: none;
    min-width: 140px;
    padding: 1rem 2rem;
    margin: 0 1rem;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
  }
  
  .intro-text .intro-links button:hover {
    background: #ff7a85;
    color: white;
    border: solid thin #ff7a85;
  }
  
  .intro-text .intro-links .active {
    background: white;
    color: #ff525d;
  }
  
  .topSection {
    min-height: 110vh;
    background-image: url("../images/illustration-editor-desktop.svg");
    background-size: 57%;
    background-repeat: no-repeat;
    background-position: 135% center;
  }
  
  .topSection h2 {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
  
  .topSection img {
    display: none;
  }
  
  .tsText {
    width: 45%;
    display: flex;
    margin-left: 90px;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .tsText .text {
    padding-top: 5rem;
  }
  
  .tsText p {
    color: #4b5862;
    padding-top: 2rem;
    line-height: 2.7rem;
    letter-spacing: 0.1rem;
  }
  
  .middleSection {
    background-image: url(../images/bg-pattern-circles.svg), -webkit-gradient(linear, left top, right top, from(#2c2d3f), to(#3f4164));
    background-image: url(../images/bg-pattern-circles.svg), linear-gradient(to right, #2c2d3f, #3f4164);
    background-repeat: no-repeat;
    background-position: -60% 80%;
    max-height: 50vh;
    border-bottom-left-radius: 100px 60px;
    border-top-right-radius: 100px 60px;
  }
  
  .container {
    width: 85%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-height: 50vh;
  }
  
  .container .img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30rem;
            flex: 1 1 30rem;
    padding-top: 5rem;
  }
  
  .container .text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30rem;
            flex: 1 1 30rem;
  }
  
  .container .text h3 {
    color: white;
  }
  
  .container .text p {
    padding-top: 2rem;
    line-height: 2.7rem;
    letter-spacing: 0.1rem;
    color: white;
  }
  
  .bottomSection {
    min-height: 110vh;
    background-image: url("../images/illustration-laptop-desktop.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: -35% center;
  }
  
  .bottomContainer {
    min-height: 110vh;
    width: 85%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  .bottomContainer img {
    display: none;
  }
  
  .bottomContainer .empty {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30rem;
            flex: 1 1 30rem;
  }
  
  .bottomContainer .tsText {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30rem;
            flex: 1 1 30rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .bottomContainer .tsText p {
    color: #4b5862;
    padding-top: 2rem;
    line-height: 2.7rem;
    letter-spacing: 0.1rem;
  }
  
  footer {
    min-height: 50vh;
    background: #25252d;
    padding-top: 5rem;
    border-top-right-radius: 100px 60px;
  }
  
  footer nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  footer nav .logo-nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 15rem;
            flex: 1 1 15rem;
  }
  
  footer nav .footer-ul {
    -webkit-box-flex: 4;
        -ms-flex: 4 1 15rem;
            flex: 4 1 15rem;
    padding-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  footer nav .footer-ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 15rem;
            flex: 1 1 15rem;
  }
  
  footer nav .footer-ul li .ul {
    padding-top: 3rem;
  }
  
  footer nav .footer-ul li .ul li {
    padding: 1rem 0rem;
  }
  
  footer nav .footer-ul li .ul li a {
    color: #c8c8cb;
  }
  
  footer nav .footer-ul li .ul li a:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 1280px) {
    nav .logo-nav {
      -webkit-box-flex: 2;
          -ms-flex: 2 1 20rem;
              flex: 2 1 20rem;
    }
    nav .logo-nav .company-logo {
      padding-right: 0rem;
      pointer-events: none;
    }
    nav .login {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 20rem;
              flex: 1 1 20rem;
    }
    .topSection {
      background-size: 52%;
    }
  }
  
  @media screen and (min-width: 1050px) {
    nav .logo-nav .main-ul .li1 {
      padding: 4rem 0rem;
    }
    nav .logo-nav .main-ul .li1:hover .flip {
      padding-right: 1rem;
      padding-left: 0;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
    nav .logo-nav .main-ul .li1:hover .dropUl1 {
      display: block;
      position: absolute;
      left: -3rem;
      background: white;
      margin-top: 2rem;
      border-radius: 8px;
      -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
              box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    }
    nav .logo-nav .main-ul .li1:hover .dropUl1 li {
      margin: 3rem 5rem 3rem 3rem;
    }
    nav .logo-nav .main-ul .li1:hover .dropUl1 li a {
      color: black;
    }
    nav .logo-nav .main-ul .li1:hover .dropUl1 li a:hover {
      text-decoration: underline;
      font-family: "Ubuntu", sans-serif;
      font-weight: 500;
    }
    nav .logo-nav .main-ul .li1:hover .dropUl1 li a {
      pointer-events: auto;
    }
    nav .logo-nav .main-ul .li1 a {
      pointer-events: none;
    }
    nav .logo-nav .main-ul .li2 {
      padding: 4rem 0rem;
    }
    nav .logo-nav .main-ul .li2:hover .flip {
      padding-right: 1rem;
      padding-left: 0;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
    nav .logo-nav .main-ul .li2:hover .dropUl2 {
      display: block;
      position: absolute;
      left: -3rem;
      background: white;
      margin-top: 2rem;
      border-radius: 8px;
      -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
              box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    }
    nav .logo-nav .main-ul .li2:hover .dropUl2 li {
      margin: 3rem 5rem 3rem 3rem;
    }
    nav .logo-nav .main-ul .li2:hover .dropUl2 li a {
      color: black;
    }
    nav .logo-nav .main-ul .li2:hover .dropUl2 li a:hover {
      text-decoration: underline;
      font-family: "Ubuntu", sans-serif;
      font-weight: 500;
    }
    nav .logo-nav .main-ul .li2:hover .dropUl2 li a {
      pointer-events: auto;
    }
    nav .logo-nav .main-ul .li2 a {
      pointer-events: none;
    }
    nav .logo-nav .main-ul .li3 {
      padding: 4rem 0rem;
    }
    nav .logo-nav .main-ul .li3:hover .flip {
      padding-right: 1rem;
      padding-left: 0;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
    nav .logo-nav .main-ul .li3:hover .dropUl3 {
      display: block;
      position: absolute;
      left: -3rem;
      background: white;
      margin-top: 2rem;
      border-radius: 8px;
      -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
              box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    }
    nav .logo-nav .main-ul .li3:hover .dropUl3 li {
      margin: 3rem 5rem 3rem 3rem;
    }
    nav .logo-nav .main-ul .li3:hover .dropUl3 li a {
      color: black;
    }
    nav .logo-nav .main-ul .li3:hover .dropUl3 li a:hover {
      text-decoration: underline;
      font-family: "Ubuntu", sans-serif;
      font-weight: 500;
    }
    nav .logo-nav .main-ul .li3:hover .dropUl3 li a {
      pointer-events: auto;
    }
    nav .logo-nav .main-ul .li3 a {
      pointer-events: none;
    }
  }
  
  @media screen and (max-width: 1050px) {
    nav .logo-nav {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    nav .logo-nav .mobil-container {
      padding-bottom: 3rem;
      width: 100%;
    }
    nav .logo-nav .mobil-container .burger {
      visibility: visible;
      display: block;
    }
    nav .logo-nav .mobil-container .active {
      content: url("../images/icon-close.svg");
    }
    nav .logo-nav hr {
      display: block;
      height: 1px;
      background-color: #ccc;
      border: none;
      margin: 0rem 2rem;
    }
    nav .logo-nav #mobil-login {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    nav .logo-nav #mobil-login button {
      margin: 1rem;
      color: black;
    }
    nav .logo-nav #mobil-login .active {
      background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
      background: linear-gradient(to right, #ff8f70, #ff3d54);
      color: white;
    }
    nav .mobilUl-container {
      position: absolute;
      top: 15vh;
      left: 200%;
      text-align: center;
      display: none;
      background: white;
      max-width: 300px;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
    }
    nav .nav-open {
      left: auto;
    }
    nav #main-ul {
      display: block;
    }
    nav #main-ul li {
      padding: 2rem;
      text-decoration: none;
    }
    nav #main-ul li a {
      color: black;
    }
    nav #main-ul li img {
      content: url("../images/icon-arrow-dark.svg");
    }
    nav #login {
      display: none;
    }
  }
  
  @media screen and (max-width: 900px) {
    p {
      font-family: "Overpass", sans-serif;
      font-weight: 300;
      letter-spacing: default;
    }
    .intro {
      min-height: 90vh;
      background-size: 375%;
      background-image: url("../images/bg-pattern-intro.svg"), -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
      background-image: url("../images/bg-pattern-intro.svg"), linear-gradient(to bottom, #ff8f70, #ff3d54);
      background-position: 35% 35%;
    }
    .intro-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 6rem 1.6em 0rem 1.6rem;
      text-align: center;
    }
    .intro-text h1 {
      font-size: 3.8rem;
      padding-bottom: 1rem;
    }
    .intro-text p {
      font-size: 1.6rem;
    }
    .topSection {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      background-image: none;
      text-align: center;
      padding-bottom: 20rem;
    }
    .topSection h2 {
      font-size: 2.8rem;
    }
    .topSection img {
      visibility: visible;
      display: block;
      width: 100%;
    }
    .tsText {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 5rem;
        width: 70%;
        margin: 0 auto;
    }
    .tsText p {
      font-size: 1.6rem;
      padding: 1rem 1rem;
    }
    .tsText p br {
      display: none;
    }
    .middleSection {
      background-size: 150%;
      background-position: 50% -500%;
      max-height: 100%;
      min-height: 90vh;
      text-align: center;
      position: relative;
    }
    .container {
      position: absolute;
      top: -38%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      max-height: 100%;
      width: 100%;
    }
    .container img {
      width: 100%;
    }
    .container .text p {
      font-size: 1.6rem;
      padding: 1rem 1rem;
    }
    .container .text p br {
      display: none;
    }
    .bottomSection {
      background-image: none;
      text-align: center;
    }
    .bottomContainer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
    }
    .bottomContainer img {
      display: block;
      visibility: visible;
      padding-top: 5rem;
      width: 100%;
    }
    .bottomContainer .empty {
      display: none;
    }
    .bottomContainer .tsText {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-bottom: 5rem;
    }
    .bottomContainer .tsText p {
      font-size: 1.6rem;
      padding: 1rem 1rem;
    }
    .bottomContainer .tsText p br {
      display: none;
    }
    footer {
      padding: 5rem 0rem;
    }
    footer nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    footer nav .footer-ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    footer nav .footer-ul li {
      padding: 2rem 0rem;
    }
  }
  
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  
  .attribution a {
    color: #3e52a3;
  }
  /*# sourceMappingURL=styles.css.map */